<!DOCTYPE html>
<html ng-app="AwesomeAngularMVCApp" ng-controller="LoginController">
<head>
    @*<title ng-bind="models.helloAngular"></title>*@
    <title>Залогиниться</title>
</head>
<body>
    <form ng-submit="register()">
        <label for="emailAddress">Email Address:</label>
        <input id="emailAddress" type="text" ng-model="registerForm.emailAddress" required />

        <label for="password">Password:</label>
        <input id="password" type="password" ng-model="registerForm.password" required />

        <label for="confirmPassword">Confirm Password:</label>
        <input id="confirmPassword" type="password" ng-model="registerForm.confirmPassword" required />

        <button type="submit">Register</button>
    </form>
</body>
</html>